body{
	font-family: 'Lexend Exa', sans-serif;
}

.btn-contato{
	border-color: #B8CA4A;
    background-color: #B8CA4A;
    border-radius: 100px;
    box-sizing: border-box;
    padding: 7px 30px;
    color: #fff !important;
    margin-top: -10px;
}